@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
}


body {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}


.quiz-contaner{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    width: 600px;

    
}
ul{
    list-style: none;

}
.Quizh-header{
    padding: 2rem;
}
